html {

  }
  body{

    text-align: center;
    color:white;
    background-image: url("../img/registro.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    color: transparent;
    
    
  }
  #ingresar {
    width: 100%;
    max-width: 600px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#boton label{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}