/*
Nombre: Enger Rodalvis Guzmán RIvas
Matricula: 2019-8225
*/

table, td, th{
    border: 1px solid grey;
    border-collapse: collapse;
    position: relative;
    
}

#registrar {
    width: 100%;
    max-width: 600px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#boton label{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}
#boton2 label{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}

#salir{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    position: absolute;
    left: 96%;
    
}
#botonMostrarFormulario label{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}

#bt_agregar label{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}
#btMaps{
    cursor: pointer;
    background: linear-gradient(black, black);
    padding: 7px;
    border-radius: 10px;
    border: black 3px solid;
    color: white;
    
}

div{
    position: relative;
    display: flex;
    justify-content: center;
}
